:root {
    --vermelha: #E50914;
    --preta: #141414;
    --branca: #AAAAAA;
    --branca_mouse: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* header */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelha);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
    margin-left: 10px;
}

header nav a {
    color: var(--branca);
    text-decoration: none;
    margin-right: 10px;
}

header nav a:hover {
    color: var(--branca_mouse);
}

/* filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0 , .50), rgba(0, 0, 0 , .50)100%), url('../img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.filme-principal .titulo {
    font-size: 40px;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}